/*
|--------------------------------------------------
| Header
|--------------------------------------------------
*/
header {
    @apply transition-all;
    .btn {
        @apply sm:hidden md:block;
    }
    &.scrolling {
        @apply bg-white;
    }
}
.logo {
    @apply w-40 transition-all;
    filter: invert(100%);
}
.nav-link {
    @apply block py-2.5 relative z-20;
    &:after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        @apply bg-orange-500 absolute bottom-0 left-0;
        transition: width 0.3s ease-in-out;
    }
    &:hover,
    &.nav-link--active {
        &:after {
            width: 100%;
        }
    }
    &.is-parent {
        @apply flex;
    }
}
li[data-with-dropdown] {
    @apply relative;
    &.has-sub-menu {
        .has-sub-items {
            @apply absolute -right-6 top-3;
            filter: brightness(0) saturate(100%) invert(78%) sepia(82%)
                saturate(443%) hue-rotate(8deg) brightness(95%) contrast(99%);
        }
    }
    &:hover {
        &.has-sub-menu {
            .has-sub-items {
                @apply transition-all absolute -right-6 top-3;
                filter: brightness(0) saturate(100%) invert(100%) sepia(48%)
                    saturate(2%) hue-rotate(151deg) brightness(112%)
                    contrast(100%);
            }
        }
    }
    &:focus {
        .dropdown-menu {
            @apply translate-y-0 opacity-100 pointer-events-auto;
        }
    }
    &:focus-within {
        .dropdown-menu {
            @apply translate-y-0 opacity-100 pointer-events-auto;
        }
    }
    &:focus-visible {
        .dropdown-menu {
            @apply translate-y-0 opacity-100 pointer-events-auto;
        }
    }
}
.dropdown-menu {
    @apply bg-white absolute top-full -mt-[3px] left-1/2 -translate-x-1/2  w-48 z-10 shadow transition-all duration-300 ease-in-out opacity-0 pointer-events-none text-center space-y-2 p-4  group-hover/navlink:translate-y-0 group-hover/navlink:opacity-100 group-hover/navlink:pointer-events-auto;
    a {
        @apply transition-all duration-300 ease-in-out text-stone-800;
        &:hover {
            @apply text-orange-500;
        }
    }
}
.dropdown-menu[aria-hidden="true"] {
    display: none;
}
.dropdown-menu[aria-hidden="false"] {
    display: block;
}
.dropdown-menu .bg-transparent .chev {
    filter: invert(100%);
}
.bg-transparent .chev {
    filter: invert(100%);
}
header {
    &.scrolling {
        @apply bg-white;
        .nav-link {
            @apply text-zinc-700;
        }
        .logo {
            filter: invert(0);
        }
        .chev {
            filter: invert(0);
        }
    }
}
